.events-search{
    display:block;
    width:40%;
    font-size:13px;
}
.body-content{
    width:60%;
    #events-results-table{
        tr#header{
                display:none;
            }
        td{
            display:block;
            
        }
        
    }
}