#content.event-result{
    #inner-content {
        display: block;
    }
    #filter-holder {
        display: none;
        width: 100%;
    }
    .events-search{
        display:block;
        width:100%;
        font-size:13px;

        .collapse-button {
            font-weight: bold;
            font-size: 16px;
            margin: 10px auto 0px auto;
        }
    }
    .body-content{
        width:100%;
        #events-results-table{
            tr#header{
                display:none;
            }
            td{
                display:inline-block;
                width: 33%;
                padding-top: 15px;

                .buy-tickets {
                    padding: 8px 10px;
                    margin-top: 40px;
                }
            }
            td.date {
                padding-left: 20px;

                &:before {
                    display: none;
                }
            }
        }
    }
}

&.page-template-page-choose-ticket {
    img {
        display: none;
    }

    #inner-header {
        img {
            display: block;
        }
    }

    .footer-main {
        img {
            display: block;
        }
    }
}

#content.choose-ticket {
    #inner-content {
        margin-top: 0px;

        .container {
            height: 100%;
            margin-bottom: 225px;
        }
    }
    .header-container {
        position: absolute;
    }
}