.show-content{
    padding:0px;
    width:100%;
    .header-style{
        text-align:left;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 5px;
        margin-bottom:10px;
        color:#FFFFFF;
        .active{
            color: $yellow;
        }
    }
    .single-top{
        display:flex;
        > div{
            width:50%;
        }
        .img-container{
            padding:5px;
            img{
                @include poster-shadow();
                width:98%;
                margin-top:1%;
            }
        }
        .info-container{
            padding-left:10px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            h1{
                font-size: 16px;
                margin-bottom:0px;
            }
            span{
                font-size:13px;
                font-weight: 600;
            }
            .buy-tickets{
                margin:0px;
                margin-top:10px;
                padding:2px 10px;
                font-size:12px;
            }
        }
    }
    .show-info{
        
        font-size:12px;
        line-height:15px;
        > div{
            margin-bottom:10px;
            clear:both;
            &:after{
                clear:both;
                content:"";
                display:block;
            }
            h4{
                margin:0px;
                margin-bottom:3px;
            }
        }
        .cast{
                background-color: #CCCCCC;
    padding: 5px;
    border-radius: 5px;
        }
        .cast-crew{
            
            h3{
                display:none;
            }
            .cast-list, .crew-list{
                border-right:none;
                width:100%;
                /*padding-left:5px;*/
                padding-left:0px;
                padding-right:0px;
                padding-bottom:0px;
                span{
                    width:50%;
                    text-align:left;
                }
            }

        }
        
    }
    .event-list{
      display:none;
        //display:none;
        .selectors{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: space-between;
            -ms-flex-line-pack: justify;
            align-content: space-between;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        h3{
            width:100%;
            flex-basis:100%;
        }
        select{
            &#month-selector-mobile{
                width:45%;
            }
            width:50%;
        }
        .showtimes{
            background-color: #EAEDF2;
            margin-bottom: 10px;
            padding: 10px;
            /*font-weight: 600;*/
            h4{
                font-size:15px;
                margin:0;
            }
            ul{
                margin:0;
                margin-bottom:10px;
                li{
                    font-size:14px;
                    line-height:24px;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-align-content: flex-start;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    .buy-tickets{
                        background-color: $yellow;
                        color: #FFFFFF;
                        margin:3px 0px;
                        padding:0px 8px;
                        font-size:11px;
                        border:1px;
                        border-radius:10px;
                        a{
                            color:#FFFFFF;
                            text-decoration:none;
                        }
                    }
                }
            }
            .addmore{
                font-weight:600;
                font-size:15px;
                text-decoration:underline;
                text-decoration-color: #cccccc;
            }
        }
    }
    
}