/* line 1, ../scss/style.scss */
body.mobile {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Variables
  
  Here is where we declare all our variables like colors, fonts,
  base values, and defaults. We want to make sure this file ONLY
  contains variables that way our files don't get all messy.
  No one likes a mess.
  
  ******************************************************************/
  /*********************
  COLORS
  Need help w/ choosing your colors? Try this site out:
  http://0to255.com/
  *********************/
  /*
  Here's a great tutorial on how to
  use color variables properly:
  http://sachagreif.com/sass-color-variables/
  */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Mixins Stylesheet
  
  This is where you can take advantage of Sass' great features: Mixins.
  I won't go in-depth on how they work exactly,
  there are a few articles below that will help do that. What I will
  tell you is that this will help speed up simple changes like
  changing a color or adding CSS3 techniques gradients.
  
  A WORD OF WARNING: It's very easy to overdo it here. Be careful and
  remember less is more.
  
  Helpful:
  http://sachagreif.com/useful-sass-mixins/
  http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
  http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/
  
  ******************************************************************/
  /*********************
  TRANSITION
  *********************/
  /*
  I totally rewrote this to be cleaner and easier to use.
  You'll need to be using Sass 3.2+ for these to work.
  Thanks to @anthonyshort for the inspiration on these.
  USAGE: @include transition(all 0.2s ease-in-out);
  */
  /*********************
  CSS3 GRADIENTS
  Be careful with these since they can
  really slow down your CSS. Don't overdo it.
  *********************/
  /* @include css-gradient(#dfdfdf,#f8f8f8); */
  /*********************
  BOX SIZING
  *********************/
  /* @include box-sizing(border-box); */
  /* NOTE: value of "padding-box" is only supported in Gecko. So
  probably best not to use it. I mean, were you going to anyway? */
}
/* line 2, ../scss/style.scss */
body.mobile .body-content.contactuspage {
  width: 100%;
}
/* line 5, ../scss/style.scss */
body.mobile .flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* line 13, ../scss/style.scss */
body.mobile .flip-up {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 20, ../scss/style.scss */
body.mobile img {
  width: 100%;
  height: auto;
}
/* line 24, ../scss/style.scss */
body.mobile .header-style {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FAA61A;
  background-color: #000000;
  font-size: 18px;
  text-align: center;
  border-radius-t: b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
}
/* line 39, ../scss/style.scss */
body.mobile .buy-tickets {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}
/* line 1, ../scss/mobile/_header.scss */
body.mobile header {
  background-color: #000000;
  padding: 0 5px;
}
/* line 4, ../scss/mobile/_header.scss */
body.mobile header .above-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 23, ../scss/mobile/_header.scss */
body.mobile header .above-nav #logo {
  margin: 0px;
  margin-right: auto;
}
/* line 27, ../scss/mobile/_header.scss */
body.mobile header .above-nav:after {
  clear: both;
  display: block;
  height: 1px;
  content: "";
}
/* line 33, ../scss/mobile/_header.scss */
body.mobile header .above-nav #searchIcon {
  padding: 7px 5px 0px 5px;
}
/* line 37, ../scss/mobile/_header.scss */
body.mobile header .mobile-top-nav {
  padding-top: 2px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 57, ../scss/mobile/_header.scss */
body.mobile header .mobile-top-nav li {
  padding: 1px 5px;
}
/* line 59, ../scss/mobile/_header.scss */
body.mobile header .mobile-top-nav li a {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 5px;
  border-right: 1px solid #FFFFFF;
  font-size: .85em;
}
/* line 69, ../scss/mobile/_header.scss */
body.mobile .wrap {
  width: 100%;
}
/* line 72, ../scss/mobile/_header.scss */
body.mobile #content {
  margin-top: 0;
}
/* line 75, ../scss/mobile/_header.scss */
body.mobile #inner-content {
  padding: 0 5px;
}
/* line 1, ../scss/mobile/_front.scss */
body.mobile #home-page-slider {
  overflow: hidden;
  position: relative;
}
/* line 4, ../scss/mobile/_front.scss */
body.mobile #home-page-slider span.mobile-slider-nav {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
/* line 15, ../scss/mobile/_front.scss */
body.mobile #home-page-slider span.mobile-slider-nav.nav-left {
  left: 0px;
}
/* line 19, ../scss/mobile/_front.scss */
body.mobile #home-page-slider span.mobile-slider-nav.nav-right {
  right: 0px;
}
/* line 22, ../scss/mobile/_front.scss */
body.mobile #home-page-slider span.mobile-slider-nav.nav-right img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* line 34, ../scss/mobile/_front.scss */
body.mobile #home-page-slider:after {
  clear: both;
  content: "";
  display: block;
}
/* line 40, ../scss/mobile/_front.scss */
body.mobile #home-page-slider {
  background-color: transparent;
}
/* line 43, ../scss/mobile/_front.scss */
body.mobile .home-mobile-slider {
  display: inline-block;
  margin-bottom: 0px;
}
/* line 46, ../scss/mobile/_front.scss */
body.mobile .home-mobile-slider .home-slider-show {
  width: 49%;
  float: left;
  margin-left: 1%;
}
/* line 50, ../scss/mobile/_front.scss */
body.mobile .home-mobile-slider .home-slider-show.hiddenPoster {
  display: none;
}
/* line 53, ../scss/mobile/_front.scss */
body.mobile .home-mobile-slider .home-slider-show img {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  width: 98%;
  margin-top: 1%;
}
/* line 63, ../scss/mobile/_front.scss */
body.mobile #top-sellers h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FAA61A;
  background-color: #000000;
  font-size: 18px;
  text-align: center;
  border-radius-t: b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
}
/* line 76, ../scss/mobile/_front.scss */
body.mobile #top-sellers .shows-navigation ul {
  margin-bottom: 0px;
}
/* line 77, ../scss/mobile/_front.scss */
body.mobile #top-sellers .shows-navigation ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 83, ../scss/mobile/_front.scss */
body.mobile #top-sellers .shows-navigation a {
  width: 100% !important;
  display: block;
  padding-right: 0px !important;
}
/* line 90, ../scss/mobile/_front.scss */
body.mobile #top-sellers .top-seller-list, body.mobile #top-sellers .top-seller-list ul {
  margin-top: 0px;
}
/* line 92, ../scss/mobile/_front.scss */
body.mobile #top-sellers .top-seller-list li, body.mobile #top-sellers .top-seller-list ul li {
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  line-height: 30px;
}
/* line 93, ../scss/mobile/_front.scss */
body.mobile #top-sellers .top-seller-list li img, body.mobile #top-sellers .top-seller-list ul li img {
  width: 18px;
  height: auto;
  margin: 5px 10px 0px 0px;
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* line 109, ../scss/mobile/_front.scss */
body.mobile #top-sellers .top-seller-list li a, body.mobile #top-sellers .top-seller-list ul li a {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
  padding: 2px 12px;
  text-decoration: none;
  display: inline-block;
  width: 90%;
}
/* line 119, ../scss/mobile/_front.scss */
body.mobile #top-sellers .top-seller-list li.top-seller-view-all, body.mobile #top-sellers .top-seller-list ul li.top-seller-view-all {
  text-align: center;
  background-color: #E6E6E6;
}
/* line 126, ../scss/mobile/_front.scss */
body.mobile .mobile-home-container {
  height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}
/* line 133, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent {
  height: 125px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}
/* line 139, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .outer-img-container {
  padding: 2px;
  border: 1px solid #CCCCCC;
  height: 87px;
  min-width: 140px;
  max-width: 140px;
}
/* line 146, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .outer-img-container .img-container {
  overflow: hidden;
  /* width: 90%; */
  margin: 0 5%;
  height: 100%;
  margin: 0;
}
/* line 154, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container {
  padding-left: 10px;
  font-size: 13px;
}
/* line 157, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container .content {
  width: 90%;
  float: left;
}
/* line 161, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container span {
  display: block;
  width: 90%;
}
/* line 164, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container span.recent-cat {
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: #CC0000;
}
/* line 170, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container span.recent-title a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
}
/* line 178, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container span.recent-meta {
  font-size: 10px;
  line-height: 16px;
}
/* line 183, ../scss/mobile/_front.scss */
body.mobile .mobile-home-recent .cont-container .arrow {
  display: flex;
  align-items: center;
  height: 85px;
}
/* line 192, ../scss/mobile/_front.scss */
body.mobile #beyond-buzz .buzz {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-top: -28px;
  margin-bottom: 5px;
  padding: 0 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 202, ../scss/mobile/_front.scss */
body.mobile #beyond-buzz .buzz article:last-child {
  border-bottom: none;
}
/* line 207, ../scss/mobile/_front.scss */
body.mobile #beyond-buzz .view-all-entertainment {
  text-align: center;
  background-color: #E6E6E6;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 5px;
}
/* line 214, ../scss/mobile/_front.scss */
body.mobile #beyond-buzz .view-all-entertainment a {
  text-decoration: none;
  color: #666666;
  font-weight: 600;
}
/* line 219, ../scss/mobile/_front.scss */
body.mobile #beyond-buzz .view-all-entertainment img {
  width: 20px;
  float: right;
}
/* line 225, ../scss/mobile/_front.scss */
body.mobile #search-jump {
  padding: 0 5px;
}
/* line 229, ../scss/mobile/_front.scss */
body.mobile #mobile-searchform input {
  width: 65%;
  float: left;
}
/* line 233, ../scss/mobile/_front.scss */
body.mobile #mobile-searchform button {
  height: 40px;
  width: 25%;
  margin-left: 3%;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}
/* line 243, ../scss/mobile/_front.scss */
body.mobile .to-top {
  clear: both;
  padding: 5px;
  font-size: 12px;
  font-weight: 900;
}
/* line 248, ../scss/mobile/_front.scss */
body.mobile .to-top a {
  text-decoration: none;
  color: #666666;
}
/* line 253, ../scss/mobile/_front.scss */
body.mobile .copyright {
  background-color: #000000;
  padding: 10px 0px 5px;
  font-size: 11px;
}
/* line 1, ../scss/mobile/_show.scss */
body.mobile .show-content {
  padding: 0px;
  width: 100%;
}
/* line 4, ../scss/mobile/_show.scss */
body.mobile .show-content .header-style {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
}
/* line 11, ../scss/mobile/_show.scss */
body.mobile .show-content .header-style .active {
  color: #faa61a;
}
/* line 15, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top {
  display: flex;
}
/* line 17, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top > div {
  width: 50%;
}
/* line 20, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .img-container {
  padding: 5px;
}
/* line 22, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .img-container img {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  width: 98%;
  margin-top: 1%;
}
/* line 28, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .info-container {
  padding-left: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
/* line 48, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .info-container h1 {
  font-size: 16px;
  margin-bottom: 0px;
}
/* line 52, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .info-container span {
  font-size: 13px;
  font-weight: 600;
}
/* line 56, ../scss/mobile/_show.scss */
body.mobile .show-content .single-top .info-container .buy-tickets {
  margin: 0px;
  margin-top: 10px;
  padding: 2px 10px;
  font-size: 12px;
}
/* line 64, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info {
  font-size: 12px;
  line-height: 15px;
}
/* line 68, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info > div {
  margin-bottom: 10px;
  clear: both;
}
/* line 71, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info > div:after {
  clear: both;
  content: "";
  display: block;
}
/* line 76, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info > div h4 {
  margin: 0px;
  margin-bottom: 3px;
}
/* line 81, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info .cast {
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 5px;
}
/* line 88, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info .cast-crew h3 {
  display: none;
}
/* line 91, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info .cast-crew .cast-list, body.mobile .show-content .show-info .cast-crew .crew-list {
  border-right: none;
  width: 100%;
  /*padding-left:5px;*/
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
/* line 98, ../scss/mobile/_show.scss */
body.mobile .show-content .show-info .cast-crew .cast-list span, body.mobile .show-content .show-info .cast-crew .crew-list span {
  width: 50%;
  text-align: left;
}
/* line 107, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list {
  display: none;
}
/* line 110, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .selectors {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 130, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list h3 {
  width: 100%;
  flex-basis: 100%;
}
/* line 134, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list select {
  width: 50%;
}
/* line 135, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list select#month-selector-mobile {
  width: 45%;
}
/* line 140, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes {
  background-color: #EAEDF2;
  margin-bottom: 10px;
  padding: 10px;
  /*font-weight: 600;*/
}
/* line 145, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes h4 {
  font-size: 15px;
  margin: 0;
}
/* line 149, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes ul {
  margin: 0;
  margin-bottom: 10px;
}
/* line 152, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes ul li {
  font-size: 14px;
  line-height: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 173, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes ul li .buy-tickets {
  background-color: #faa61a;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px 8px;
  font-size: 11px;
  border: 1px;
  border-radius: 10px;
}
/* line 181, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes ul li .buy-tickets a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 188, ../scss/mobile/_show.scss */
body.mobile .show-content .event-list .showtimes .addmore {
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #cccccc;
}
/* line 2, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #E6E6E6;
  border: 1px solid #CCCCCC;
}
/* line 24, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination > div a {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}
/* line 30, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination > div a img {
  width: 15px;
  height: 15px;
}
/* line 36, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .left, body.mobile .beyond-the-buzz .pagination .right {
  flex-basis: 40%;
}
/* line 40, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .left {
  text-align: left;
}
/* line 43, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .right {
  text-align: right;
}
/* line 45, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .right a {
  justify-content: flex-end;
}
/* line 49, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .lone {
  flex-basis: 100%;
  text-align: right;
}
/* line 52, ../scss/mobile/_blog.scss */
body.mobile .beyond-the-buzz .pagination .lone a {
  justify-content: flex-end;
}
/* line 59, ../scss/mobile/_blog.scss */
body.mobile.single-post article {
  padding: 0px;
}
/* line 62, ../scss/mobile/_blog.scss */
body.mobile.single-post span:first-child {
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}
/* line 67, ../scss/mobile/_blog.scss */
body.mobile.single-post h1 {
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #E6E6E6;
  -webkit-text-decoration-color: grey;
  -moz-text-decoration-color: #E6E6E6;
  margin: .5em 0;
}
/* line 75, ../scss/mobile/_blog.scss */
body.mobile.single-post p.byline {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}
/* line 80, ../scss/mobile/_blog.scss */
body.mobile.single-post .entry-content {
  margin-top: 10px;
  font-size: 13px;
}
/* line 83, ../scss/mobile/_blog.scss */
body.mobile.single-post .entry-content .image-container {
  padding: 10px;
  border: 1px solid #CCCCCC;
  height: 250px;
}
/* line 87, ../scss/mobile/_blog.scss */
body.mobile.single-post .entry-content .image-container .image-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 91, ../scss/mobile/_blog.scss */
body.mobile.single-post .entry-content .image-container .image-inner-container img {
  max-width: 100%;
}
/* line 97, ../scss/mobile/_blog.scss */
body.mobile.single-post .related, body.mobile.single-post .view-all-entertainment {
  background: #E6E6E6;
  border: 1px solid #CCCCCC;
  color: #666666;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
}
/* line 106, ../scss/mobile/_blog.scss */
body.mobile.single-post .related a, body.mobile.single-post .view-all-entertainment a {
  color: #666666;
  text-decoration: none;
}
/* line 2, ../scss/mobile/_archive.scss */
body.mobile header.article-header {
  margin-left: 0px;
  background-color: transparent;
}
/* line 7, ../scss/mobile/_archive.scss */
body.mobile .find-a-show {
  width: 100%;
}
/* line 9, ../scss/mobile/_archive.scss */
body.mobile .find-a-show > div {
  margin-left: 0px;
}
/* line 12, ../scss/mobile/_archive.scss */
body.mobile .find-a-show h1.page-title {
  font-size: 21px;
  border-bottom: 1px solid #CCCCCC;
  margin: 0px 10px;
  margin-top: 10px;
}
/* line 18, ../scss/mobile/_archive.scss */
body.mobile .find-a-show #searchform-find-a-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 23, ../scss/mobile/_archive.scss */
body.mobile .find-a-show #searchform-find-a-show > div {
  flex-basis: 48%;
}
/* line 26, ../scss/mobile/_archive.scss */
body.mobile .find-a-show #searchform-find-a-show .genre-filter {
  flex-basis: 100%;
}
/* line 30, ../scss/mobile/_archive.scss */
body.mobile .find-a-show article {
  margin: 5px 5px;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 0px;
}
/* line 35, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top {
  display: flex;
}
/* line 37, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top > div {
  width: 50%;
}
/* line 40, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .img-container {
  padding: 5px;
}
/* line 42, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .img-container img {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.55);
  width: 98%;
  margin-top: 1%;
}
/* line 48, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .info-container {
  padding-left: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
/* line 68, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .info-container h1 {
  font-size: 16px;
  margin-bottom: 0px;
}
/* line 72, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .info-container span {
  font-size: 13px;
  font-weight: 600;
}
/* line 76, ../scss/mobile/_archive.scss */
body.mobile .find-a-show .single-top .info-container .buy-tickets {
  margin: 0px;
  margin-top: 10px;
  padding: 2px 10px;
  font-size: 12px;
}
/* line 1, ../scss/mobile/_venue.scss */
body.mobile .body-content {
  padding-left: 0px;
}
/* line 3, ../scss/mobile/_venue.scss */
body.mobile .body-content h1 {
  font-size: 18px;
  margin: 10px 0px;
  text-transform: none;
}
/* line 8, ../scss/mobile/_venue.scss */
body.mobile .body-content .main-venue-img {
  padding: 5px;
  overflow: hidden;
}
/* line 11, ../scss/mobile/_venue.scss */
body.mobile .body-content .main-venue-img img {
  width: 100%;
  height: auto;
}
/* line 16, ../scss/mobile/_venue.scss */
body.mobile .body-content .entry-content {
  font-size: 12px;
  padding: 5px;
}
/* line 20, ../scss/mobile/_venue.scss */
body.mobile .body-content .venue-notes {
  font-size: 12px;
}
/* line 22, ../scss/mobile/_venue.scss */
body.mobile .body-content .venue-notes h3 {
  font-size: 12px;
  margin: 0px;
}
/* line 26, ../scss/mobile/_venue.scss */
body.mobile .body-content .venue-notes ul {
  width: 100%;
  margin-top: 0px;
}
/* line 29, ../scss/mobile/_venue.scss */
body.mobile .body-content .venue-notes ul li {
  display: flex;
  justify-content: space-between;
}
/* line 33, ../scss/mobile/_venue.scss */
body.mobile .body-content .venue-notes ul li span:last-child {
  padding-right: 10px;
}
/* line 42, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city span {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FAA61A;
  background-color: #000000;
  font-size: 18px;
  text-align: center;
  border-radius-t: b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
}
/* line 58, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city ul {
  margin-top: 0px;
  width: 100%;
}
/* line 61, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city ul li {
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  margin-bottom: 0px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
}
/* line 71, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 75, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city ul li a {
  color: #000000;
  width: 100% !important;
  display: block;
  padding-right: 0px !important;
  text-decoration: none;
}
/* line 82, ../scss/mobile/_venue.scss */
body.mobile .body-content .shows-in-this-city ul li img {
  width: 20px;
  height: 20px;
}
/* line 93, ../scss/mobile/_venue.scss */
body.mobile .body-content .mapLocation {
  width: 100%;
  height: 350px;
  padding: 5px;
  margin-bottom: 10px;
}
/* line 99, ../scss/mobile/_venue.scss */
body.mobile .body-content .mapLocation span {
  font-size: 12px;
  font-weight: 600;
}
/* line 103, ../scss/mobile/_venue.scss */
body.mobile .body-content .mapLocation iframe {
  width: 100%;
  height: 100%;
}
/* line 2, ../scss/mobile/_events.scss */
body.mobile #content.event-result .events-search {
  display: block;
  width: 40%;
  font-size: 13px;
}
/* line 7, ../scss/mobile/_events.scss */
body.mobile #content.event-result .body-content {
  width: 60%;
}
/* line 10, ../scss/mobile/_events.scss */
body.mobile #content.event-result .body-content #events-results-table tr#header {
  display: none;
}
/* line 13, ../scss/mobile/_events.scss */
body.mobile #content.event-result .body-content #events-results-table td {
  display: block;
}
/* line 2, ../scss/mobile/_footer.scss */
body.mobile .footer-main img {
  width: auto;
}
/* line 5, ../scss/mobile/_footer.scss */
body.mobile .footer-main #inner-footer {
  padding: 15px;
}
/* line 8, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns {
  font-size: 13px;
}
/* line 11, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns li {
  border-bottom: none;
  height: 1.5em;
}
/* line 14, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns li:before {
  content: url(../assets/mobile/small-arrow.png);
}
/* line 17, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns li a {
  color: #FFFFFF;
}
/* line 21, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns .column {
  flex-basis: 35%;
  margin: 0px 5px;
}
/* line 24, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns .column:last-child {
  flex-basis: 20%;
}
/* line 27, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-columns .column p {
  margin-left: 10px;
}
/* line 32, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-social {
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
/* line 37, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-social a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* line 44, ../scss/mobile/_footer.scss */
body.mobile .footer-main .footer-social a.youtube-icon img {
  height: auto;
}
/* line 50, ../scss/mobile/_footer.scss */
body.mobile .footer-main a.am-switch-btn.godesktop {
  color: #FFFFFF;
}
/* line 53, ../scss/mobile/_footer.scss */
body.mobile .footer-main .lower-inner-footer {
  position: relative;
}
/* line 56, ../scss/mobile/_footer.scss */
body.mobile .footer-main .lower-inner-footer img:first-child {
  width: 37%;
  position: absolute;
  bottom: 1px;
  float: left;
}
/* line 62, ../scss/mobile/_footer.scss */
body.mobile .footer-main .lower-inner-footer img:last-child {
  float: right;
  width: 60%;
}
/* line 66, ../scss/mobile/_footer.scss */
body.mobile .footer-main .lower-inner-footer:after {
  clear: both;
  display: block;
  content: "";
  height: 1px;
}
